@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.label {
    color: #1D4ED8;
}

::ng-deep p-menubarsub.p-element {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.menu2 {
    display: none !important;
}

@media only screen and (max-width: 1260px) {
    .menu2 {
        display: flex !important;
    }
    .menu1 {
        display: none !important;
    }
}