/* You can add global styles to this file, and also import other style files */

html {
    font-size: 13px;
}

.logo {
    max-width: 270px;
    width: 100%;
}

@media only screen and (max-width: 1260px) {
    .p-menubar-button {
        display: flex !important;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
    .p-menubar .p-menubar-button {
        width: 2rem;
        height: 2rem;
        color: #6c757d;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    }
    .p-menubar .p-menubar-button {
        position: absolute;
        right: 8px;
    }
    .p-menubar .p-menubar-root-list {
        display: none;
    }
    .p-menubar {
        position: relative;
    }
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        z-index: 1;
    }
    .p-menubar .p-menubar-root-list {
        position: absolute;
        display: none;
        padding: 0.25rem 0;
        background: #ffffff;
        border: 0 none;
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
        width: 100%;
    }
    .p-menubar .p-menubar-root-list .p-menuitem {
        width: 100%;
        position: static;
        border-bottom: 1px solid #f3f3f3;
    }
    .p-menubar .p-menubar-root-list .p-submenu-list {
        width: 100%;
        position: static;
        box-shadow: none;
        border: 0 none;
    }
    .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link>.p-submenu-icon {
        transform: rotate(-180deg);
    }
    .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link>.p-submenu-icon {
        margin-left: auto;
        transition: transform 0.2s;
    }
    .p-menubar .p-menubar-root-list ul li a {
        padding-left: 2.25rem;
    }
    .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
        padding: 1.25rem 1.25rem;
    }
}

@media only screen and (max-width: 1330px) {}